.game {
    text-align: center;
}

.title {
    color: #e8ca76;
}

.subtitle {
    color: lightgray;
}

.slotMachine, .input {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input {
    height: 80px;
}

.reel, .input div {
    border: 4px solid #e6d29c;
    border-radius: 10px;
    position: relative;
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    background-color: #e8ca76;
    margin: 1px;
}

.slotMachine div div.points {
    position: absolute;
    right: 3px;
    bottom: 3px;
    width: 15px;
    height: 15px;
    vertical-align: text-bottom;
    text-align: right;
    font-size: small;
}

.slotMachine div.selected {
    color:dimgray;
    background-color: darkgray;
    border: 4px solid lightgray;
}