.game {
    text-align: center;
}

.title {
    color: #e8ca76;
}

.subtitle {
    color: lightgray;
}

.reel-collection {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input {
    height: 80px;
}

.reel {
    position: relative;
    width: 60px;
    height: 60px;
    margin: 1px;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    border: 4px solid #e6d29c;
    border-radius: 10px;
    background-color: #e8ca76;
    user-select: none;
}

.reel.selectable {
    cursor: pointer;
}

.reel.selected {
    color: dimgray;
    background-color: darkgray;
    border: 4px solid lightgray;
}

.points {
    position: absolute;
    right: 3px;
    bottom: 3px;
    width: 15px;
    height: 15px;
    vertical-align: text-bottom;
    text-align: right;
    font-size: small;
}

.word-valid {
    color: green;
    font-weight: bold;
}

.word-invalid {
    color: red;
    font-weight: bold;
}

.word-points {
    color: white;
    font-weight: bold;
}